@model TravelTripProje.Models.Classes.Blog
@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelle</h2>

<br />

@using (Html.BeginForm("UpdateBlog", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(x => x.BlogId)
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })

    <br />
    <button class="btn btn-success">Güncelle</button>
}


